

#board{
  display:inline-block;
}

.gameRow{
  display:flex;
}

.square{
  width: var(--square-dim-limit);
  max-width: var(--square-dim-main);
  height: var(--square-dim-limit);
  max-height: var(--square-dim-main);
  font-size: 1.5vh;
  position: relative;
  z-index:0;
  display: flex;
  box-sizing: border-box;
  font-weight: bolder;
}

.br-text, .tr-text{
  position: absolute;
  user-select:none;
}

.br-text{
  right:1px;
  bottom:1px;
}
.tr-text{
  left:1px;
  top:1px;
}

.square{
  background-color: #dbb7b7;
  color: rgb(130, 65, 0);
}

.square.dark{
  background-color: #824100;
  color: rgb(219, 183, 183);
  box-sizing: border-box;
}

.avail-move{
  margin:auto;
  background-color: #a4ff3f;
  opacity:80%;
  display:block;
  border-radius:50%;
  border: 1px solid black;
  width: 2vh;
  max-width: 2vw;
  height: 2vh;
  max-height: 2vw;
  z-index:0;
}


.avail-move.hidden{
  border:none;
  width:0;
  height:0;
  margin:20px;
}