
#pgn-menu{
  font-size: 1rem;
  background-color:rgba(0, 56, 80, 0.95);
  width:300px;
  height:300px;
  min-height: 160px;
  min-width: 165px;
  border-radius:.5rem;
  position:absolute;
  margin:auto;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-150px;
  z-index:20;
  padding-top:.5rem;
  color:#f7f8f9;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  box-shadow: 2px 2px 20px black;
}
#pgn-menu.hidden{
  visibility:hidden;
}

#pgn-menu form{
  margin-top:12px;
}

#save-load-container {
  display:flex;
  justify-content:space-around
}

#move-pgn-menu{
  width: 100%;
  margin:auto;
  cursor:pointer;
  position:absolute;
  top:5px;
  z-index: 1;
}

#close-pgn{
  position:absolute;
  top: 0px;
  right:0px;
  cursor: pointer;
  z-index: 2;
  width: auto;
  padding: 6px 8px;
  font-weight: 600;
}

#close-pgn:hover{
  color:#F44336;
  transition:color 300ms;
}

#move-pgn-menu > hr{
  margin: 1px auto;
  border: 0;
  width: 25%;
  border-radius:1px;
  height: 2px;
  background-image: linear-gradient(180deg, rgb(0, 95, 136), #3c3c3c);
}

#resize-pgn-menu {
  width: 20px;
  margin-top: auto;
  height: 10px;
  margin-left:auto;
  position:relative;
  cursor:nwse-resize;
}

#resize-pgn-menu > hr{
  cursor:nwse-resize;
  border: 0;
  /* border-radius:1px; */
  height: 1px;
  position:absolute;
  background-color:#99a3e3ad;
  transform: rotate(135deg);
}

#resize-pgn-menu:active{
  cursor:nwse-resize;
}


#resize-pgn-menu > hr:nth-of-type(1){
  top: -7px;
  left: 2px;
  width: 17px;
}

#resize-pgn-menu > hr:nth-of-type(2){
  top: -5px;
  left: 8px;
  width: 10px;
}

#resize-pgn-menu > hr:nth-of-type(3){
  top: -3px;
  left: 13px;
  width: 5px;
}

#pgn-menu textarea {
  width: 270px;
  height: 210px;
  resize:none;
  min-width: 135px;
  min-height: 71.5px;
  position: absolute;
  left: 11px;
  top: 37px;
}

